$plum-100: #543C52;
$plum-50: #E9E5EE;
$plum-hover: #3E2D3C;
$blue-100: #070A1C;
$blue-50: #81818D;
$blue-20: #CDCED2;
$blue-10: #E2E0E8;
$white-100: #FFFFFF;
$fog-100: #FAF8FF;
$green-100: #22C55E;
$red-100: #FF4C4C;




